<% include partials/header %>

    <body id="page-top">
        <% include partials/nav %>

            <header style="margin-top: 80px;">
                <div class="container-fluid h-100">
                    <div class="container-fluid  h-100">

                        <table id="bugList" class="table table-hover  table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Key </th>
                                    <th>Title</th>
                                    <th>Priority</th>
                                    <th>Username</th>
                                    <th>Status</th>
                                    <th>Link</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% dataBugs.forEach(function(issue) { %>
                                    <tr>
                                        <th scope="row">
                                            <%= dataBugs.indexOf(issue)+1 %>
                                        </th>
                                        <td value='<%= issue["key"] %>'>
                                            <a class="comments btn btn-warning btn-sm" style="color:white;" data-toggle="modal" data-target="#exampleModal">
                                                <%= issue["key"] %>
                                            </a>
                                        </td>
                                        <td>
                                            <%= issue["summary"] %>
                                        </td>
                                        <td>
                                            <%= issue["bugpriority"] %>
                                        </td>
                                        <td>
                                            <%= issue["user"] %>
                                        </td>
                                        <td value='<%= issue["key"] %>'>
                                            <a class="status btn btn-warning btn-sm" style="color:white;" data-toggle="modal" data-target="#exampleModal">
                                                <%= issue["storystatus"] %>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="https://jira.ecommerce.lenovo.com/browse/<%=issue['key']%>" target="_blank">open</a>
                                        </td>
                                    </tr>
                                    <% })  %>
                            </tbody>
                        </table>


                    </div>

                </div>
            </header>

            <% include partials/modal %>

<% include partials/footer %>
